<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>498018328809-nmvqkebdvpi1r2uope8l33hi2tj78o7s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.498018328809-nmvqkebdvpi1r2uope8l33hi2tj78o7s</string>
	<key>API_KEY</key>
	<string>AIzaSyCGfNCfSf3Q-dhsPZzuVIJVwniMrj7KJJA</string>
	<key>GCM_SENDER_ID</key>
	<string>498018328809</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.project.Foods-Application</string>
	<key>PROJECT_ID</key>
	<string>fooddeliverylogin-ef1c0</string>
	<key>STORAGE_BUCKET</key>
	<string>fooddeliverylogin-ef1c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:498018328809:ios:150953b371ae167ce45078</string>
</dict>
</plist>